.header, .main, .footer {
    grid-column: 2;
}

.app {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 100vh;
}

@media (max-width: 600px) {
    .top-panel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .top-panel > div.controls {
        width: 90%;
    }

    .top-panel > div.controls > button {
        width: 100%;
        justify-content: center;
    }

    th.hidden-on-mobile {
        display: none;
    }

    td.hidden-on-mobile {
        display: none;
    }
}